<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atandroidjam.yogesh.greetingcard">

    <application
        android:allowBackup="true"
        android:icon="@drawable/h_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_second"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>
